.clr {
  background-color: #03021b;
  height: 90vh;
  padding-left: 20px;
  padding-right: 70px;
  display: flex;
  flex-direction: column;
}

.sf3 {
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.sf2 {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cola {
  flex: 10;
  background-color: #242437;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 0 30px 0 30px;
  border-radius: 10px;
}

hr {
  width: 100%;
}

.colb {
  flex: 6;
  background-color: #242437;
  /* width: 500px; */
  height: 85vh;
  padding: 0 30px 0 30px;
  border-radius: 10px;
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;
}

.col3 {
  flex: 1;
}

.btn1 {
  background-color: #da0037;
  height: 50px;
  color: white;
  width: 217px;
}

.bt2 {
  background: none;
  border: none;
  color: white;
  margin-top: 10px;
}

h4 {
  width: 100%;
  text-align: left;
  font: normal normal normal 16px Gotham;
  height: 18px;
  letter-spacing: 0.32px;
}

textarea {
  width: 100%;
  resize: none;
}

.btn2 {
  width: 150px;
  height: 48px;
  background-color: #da0037;
  margin-top: 20px;
  border: none;
  color: white;
}

.dival {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}

.topping {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  margin-top: 20px;
}

.btna {
  width: 115px;
  height: 45px;
  background-color: #242437;
  border-radius: 10px;
  color: #da0037;
  border-color: #da0037;
  box-shadow: none;
}

.Date {
  height: 46px;
  width: 175px;
  border-radius: 10px;
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.Date img {
  width: 20px;
  height: 20px;
}

.fromDate {
  width: 100px;
  height: 18px;
}

.fromDate input {
  width: 100px;
  height: 18px;
  text-align: left;
  font: normal normal bold 1rem Gotham;
  letter-spacing: 0px;
  color: var(--primary-white-color);
  background-color: var(--secondary-darkgray);
  border: none;
  opacity: 1;
}

.fromDate input:hover {
  border: #ffffff 1px solid;
  border-radius: 10px;
}
