.App {
  text-align: center;
  color: #03021B;
}



.App-header {
  
  min-height: 100vh;
  display: flex;
  color: #03021B;
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 900px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
